@import "parts/base";
@import "parts/page";

header :first-child,
article :first-child,
aside :first-child
{
    margin-top: 0;
}

header :last-child,
article :last-child
{
    margin-bottom: 0;
}

@import "parts/header";
@import "parts/content";
@import "parts/sidebar";
@import "parts/code";
@import "parts/gallery";
@import "parts/pagination";