<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8" />
        <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} |{{ end }} {{ .Site.Title }}{{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {{ $assets := .Site.Data.webpack_assets.main }}
        {{ with $assets.css }}
        <link href="{{ relURL . }}" rel="stylesheet">
        {{ end }}
        
        {{/* NOTE: These Hugo Internal Templates can be found at https://github.com/gohugoio/hugo/tree/master/tpl/tplimpl/embedded/templates */}}
        {{- template "_internal/opengraph.html" . -}}
        {{- template "_internal/google_news.html" . -}}
        {{- template "_internal/schema.html" . -}}
        {{- template "_internal/twitter_cards.html" . -}}

        {{ if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production")  }}
            {{ template "_internal/google_analytics_async.html" . }}
        {{ end }}
    </head>
    <body>
        <main>
            <header>
                <hgroup>
                    <h1><a href="/">{{ .Site.Title }}</a></h1>
                    {{ with .Params.Title }}<h2>{{ . }}</h2>{{ end }}
                </hgroup>
            </header>
            <div class="main">
                {{ block "main" . }}{{ end }}
            </div>
            <div class="side">
                <aside>
                    <h3>Articles</h3>
                    <nav>
                        {{ range .Site.Taxonomies.categories }}
                        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
                        {{ end }}
                    </nav>
                </aside>

                <aside>
                    <h3>Builds (Wiki)</h3>
                    <nav>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Milestone_3" target="_blank" rel="noopener">Milestone 3</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Milestone_4" target="_blank" rel="noopener">Milestone 4</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Milestone_5" target="_blank" rel="noopener">Milestone 5</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Milestone_6" target="_blank" rel="noopener">Milestone 6</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Milestone_7" target="_blank" rel="noopener">Milestone 7</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Development_reset" target="_blank" rel="noopener">Omega 13</a>
                        <a href="https://betawiki.net/wiki/Windows_Vista#Beta_1" target="_blank" rel="noopener">Beta 1</a>
                    </nav>
                </aside>
            </div>
        </main>
        
        {{ with $assets.js }}
          <script src="{{ relURL . }}"></script>
        {{ end }}
        
    </body>
</html>