{{ define "main" }}
    {{ if .Content }}
    <article>
        {{- .Content -}}
    </article>
    {{ end }}
    {{ range .Paginator.Pages.ByTitle }}
        <article>
            <h2>
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
            </h2>
            <p>{{ .Summary  }}</p>
        </article>
    {{ end }}
    {{ if gt .Paginator.TotalPages 1 }}
    <aside class="pagination-wrapper">
        {{- template "_internal/pagination.html" . -}}
    </aside>
    {{ end }}
{{ end }}
