<div class="gallery">
{{ $resources := .Page.Resources }}
{{ $width := .Get 0 }}
{{ range after 1 .Params }}
    {{ $original := $resources.GetMatch (printf "%s" (.)) }}
    {{ if $original }}
        {{ $image := $original.Fill "320x240 Center" }}
        <a href="{{ $original.RelPermalink }}" target="_blank">
            <img src="{{ $image.RelPermalink }}" />
        </a>
    {{ end }}
{{ end }}
</div>